.AboutLink  a{
    font-weight: 700;
    font-size: 45px;
    color: #005099;
    text-decoration: none;
}
.AboutLink .left{
    display: flex;
    justify-content: center;
    background-color: #92cad6;
    width: 100%;
    padding: 2rem 0;
    transition: .3s;
}
.AboutLink .left:hover{
    background-color: #FFC787;
    transition: .3s;
    cursor: pointer;
}
.AboutLink .right{
    background-color: #bdc5f1;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    transition: .3s;
    display: flex;
    justify-content: center;
}
.AboutLink .right:hover{
    background-color: #FFC787;
    transition: .3s;
    cursor: pointer;
}
@media(max-width: 576px){
    .AboutLink .all{
        display: flex;
        flex-direction: column;
    }
    .AboutLink .left a{
        font-size: 28px;
    }
    .AboutLink .right a{
        font-size: 28px;
    }
    .AboutLink .left{
        padding: 1rem 0;
    }
    .AboutLink .right{
        padding: 1rem 0;
    }
}