.bakingMixes {
    padding: 1rem 1rem;
    margin-top: 50px;
}

.bakingMixes .title {
    font-weight: 700;
    font-size: 36px;
    color: #005099;
    line-height: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.bakingMixes-all{
    display: flex;
    row-gap: 50px;
}

.bakingMixes .boxLink {
    text-decoration: none;
}

.bakingMixes .bakingMixes-bottom a {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #005099;
    transition: .3s;
    text-decoration: none;
}

.bakingMixes .bakingMixes-box:hover .bakingMixes-bottom a {
    color: #91dfb9;
    transition: .3s;
}

.bakingMixes .bakingMixes-box:hover .quick-add {
    display: block;
    transition: .10s;
}

.bakingMixes .bakingMixes-box {
    text-align: center;
    position: relative;
    margin-top: 20px;
    transition: .5s;
    width: 33%;
}

.bakingMixes .bakingMixes-bottom {
    margin-top: 20px;
    height: 100px;
}

.bakingMixes .bakingMixes-bottom i {
    color: #005099;
    font-size: 20px;
}

.bakingMixes .bakingMixes-bottom .stars {
    margin-top: 6px;
}

.bakingMixes .stars span {
    margin-left: 8px;
    color: #005099;
}

.bakingMixes .price {
    margin-top: 7px;
}

.bakingMixes .price span {
    font-size: 18px;
}

.bakingMixes .absolute {
    background-color: #91DFB9;
    border-radius: 50%;
    position: absolute;
    width: 86px;
    height: 86px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    left: 230px;
    top: -50px;
}

.bakingMixes .absolute span {
    color: #005099;
    font-weight: 700;
    font-size: 14px;
}

.bakingMixes .quick-add {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #005099;
    width: 80%;
    background-color: white;
    padding: 15px;
    display: none;
}

.bakingMixes .quick-add:hover {
    background-color: #91DFB9;
    border: none;
}

.bakingMixes .quick-add:hover a {
    color: white;
}

.bakingMixes img {
    height: 420px;
    width: 420px;
    object-fit: cover;
    background-color: #F5F5F5;
    padding: 40px 0;
    margin: 20px 0;
    
}

.bakingMixes .quick-add a {
    color: #005099;
    font-weight: bold;
    text-decoration: none;
}

@media(max-width: 576px) {
    .bakingMixes {
        padding: 2rem 20px;
    }
    .bakingMixes .title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .bakingMixes .bakingMixes-bottom a {
        font-size: 18px;
        line-height: 22px;
    }
    .bakingMixes-box{
        width: 100% !important;
    }
}